<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- Runtime Setting -->
	<startup>
		<!-- -->
		<supportedRuntime version="v2.0.50727" />
		<!-- -->
		<supportedRuntime version="v3.0" />
		<!-- -->
		<supportedRuntime version="v3.5" />
		<!-- -->
		<supportedRuntime version="v4.0.30319" />
	</startup>

	<!-- App Settings -->
	<appSettings>
		<!-- Title -->
		<add key="Title" value="KDB 대우증권 다문화 자녀 교육 - 중국어(초급)" />
		<!-- 1024,768 -->
		<add key="MaximumSize" value="" />
		<!-- 800,600 -->
		<add key="MinimumSize" value="" />
		<!-- 1024,768 -->
		<add key="Size" value="" />
		<!-- 1024,768 -->
		<add key="ClientSize" value="1280,960" />
		<!-- 40,40 -->
		<add key="Location" value="" />
		<!-- Normal, Maximized, Minimized -->
		<add key="WindowState" value="Normal" />
		<!-- None, FixedSingle, Fixed3D, FixedDialog, Sizable, FixedToolWindow, SizableToolWindow -->
		<add key="FormBorderStyle" value="Sizable" />
		<!-- Manual, CenterScreen, WindowsDefaultLocation, WindowsDefaultBounds, CenterParent -->
		<add key="StartPosition" value="CenterScreen" />
		<!-- True, False -->
		<add key="WindowFullScreen" value="False" />
		<!-- RecordSaveFolderName -->
		<add key="RecordSaveFolderName" value="KDB_녹음파일저장" />
	</appSettings>
</configuration>
